@import "tailwindcss";

@theme {
  --color-primary: #465626;
  --color-primary-dark: #36431d;
  --color-secondary: #F4EDE6;
  --color-accent: #FFD700;
  --color-accent-hover: #E5C100;
}

@layer base {
  body {
    background-color: var(--color-secondary);
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
  }
}
